This is an example of Gaussian Naive Bayes Algorithm that works on continuous features.
We work on the Adult Data set present here in this example

In [20]:
import pandas as pd
import numpy as np
columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship",
          "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "salary"]
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", sep=',\s', names= columns, header=None, na_values =["?"])
df = pd.DataFrame(data=data)
#print(df.isnull().sum())
#Thus missing values in attributes workclass 1836, occupation 1843, native-country 583
#print("Total number of missing values")
#print(sum(df.isnull().sum())) #4262 missing values -> all missing values in categorical data.
df = df.replace("?", np.NaN)
#print(df) #[32561 rows x 15 columns]
#df.dropna(inplace = True) 
#print(df) #[30162 rows x 15 columns] -> so number of rows with ? is 2399

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

value_counts return in descending order so that the first element in the most frequently occuring element.
You can not perform value_counts on a dataframe. Value Counts are limited only for a single column or series and it's sole purpose is to return the series of frequencies of values

groupby('').count() sorts the output by index. 
Groupby returns a object so one can perform statistical computations over it. So when you do df.groupby(col).count() it will return the number of true values present in columns with respect to the specific columns in groupby.So not a number (nan) will be excluded.

In [21]:
print(df.groupby('workclass').count())
print(df['workclass'].value_counts())
#print(df.groupby('occupation').count())
print(df['occupation'].value_counts())
#print(df.groupby('native-country').count())
print(df['native-country'].value_counts())

                    age  fnlwgt  education  education-num  marital-status  \
workclass
Federal-gov         960     960        960            960             960
Local-gov          2093    2093       2093           2093            2093
Never-worked          7       7          7              7               7
Private           22696   22696      22696          22696           22696
Self-emp-inc       1116    1116       1116           1116            1116
Self-emp-not-inc   2541    2541       2541           2541            2541
State-gov          1298    1298       1298           1298            1298
Without-pay          14      14         14             14              14

                  occupation  relationship   race    sex  capital-gain  \
workclass
Federal-gov              960           960    960    960           960
Local-gov               2093          2093   2093   2093          2093
Never-worked               0             7      7      7             7
Private                22696         22696  22696  22696         22696
Self-emp-inc            1116          1116   1116   1116          1116
Self-emp-not-inc        2541          2541   2541   2541          2541
State-gov               1298          1298   1298   1298          1298
Without-pay               14            14     14     14            14

                  capital-loss  hours-per-week  native-country  salary
workclass
Federal-gov                960             960             943     960
Local-gov                 2093            2093            2067    2093
Never-worked                 7               7               7       7
Private                  22696           22696           22286   22696
Self-emp-inc              1116            1116            1074    1116
Self-emp-not-inc          2541            2541            2499    2541
State-gov                 1298            1298            1279    1298
Without-pay                 14              14              14      14
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64
United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

Replace missing value in native-country with the mode (i.e. the most frequent item i.e United States)
Replace Occupation with the mode (i.e. private)
Delete the rows where workclass is missing as the values are pretty close and difficult to predict the correct or approximate value to replace

In [22]:
df['native-country'] = df['native-country'].replace(np.NaN,"United-States")

United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64
United-States                 29753
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [23]:
df['workclass'] = df['workclass'].replace(np.NaN,"Private")

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64
Private             24532
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [24]:
df = df.dropna(subset=['occupation'],how='any')

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64
0             Adm-clerical
1          Exec-managerial
2        Handlers-cleaners
3        Handlers-cleaners
4           Prof-specialty
5          Exec-managerial
6            Other-service
7          Exec-managerial
8           Prof-specialty
9          Exec-managerial
10         Exec-managerial
11          Prof-specialty
12            Adm-clerical
13                   Sales
14            Craft-repair
15        Transport-moving
16         Farming-fishing
17       Machine-op-inspct
18                   Sales
19         Exec-managerial
20          Prof-specialty
21           Other-service
22         Farming-fishing
23        Transport-moving
24            Tech-support
25            Tech-support
26            Craft-repair
28         Exec-managerial
29            Craft-repair
30         Protective-serv
               ...
32526     Transport-moving
32527         Adm-clerical
32528    Machine-op-inspct
32529                Sales
32532       Prof-specialty
32533      Exec-managerial
32534         Adm-clerical
32535      Protective-serv
32536      Exec-managerial
32537         Craft-repair
32538       Prof-specialty
32540         Adm-clerical
32543       Prof-specialty
32544        Other-service
32545         Adm-clerical
32546         Tech-support
32547    Machine-op-inspct
32548       Prof-specialty
32549         Adm-clerical
32550         Craft-repair
32551    Handlers-cleaners
32552                Sales
32553         Tech-support
32554      Exec-managerial
32555      Protective-serv
32556         Tech-support
32557    Machine-op-inspct
32558         Adm-clerical
32559         Adm-clerical
32560      Exec-managerial
Name: occupation, Length: 30718, dtype: object
       age         workclass  fnlwgt     education  education-num  \
0       39         State-gov   77516     Bachelors             13
1       50  Self-emp-not-inc   83311     Bachelors             13
2       38           Private  215646       HS-grad              9
3       53           Private  234721          11th              7
4       28           Private  338409     Bachelors             13
5       37           Private  284582       Masters             14
6       49           Private  160187           9th              5
7       52  Self-emp-not-inc  209642       HS-grad              9
8       31           Private   45781       Masters             14
9       42           Private  159449     Bachelors             13
10      37           Private  280464  Some-college             10
11      30         State-gov  141297     Bachelors             13
12      23           Private  122272     Bachelors             13
13      32           Private  205019    Assoc-acdm             12
14      40           Private  121772     Assoc-voc             11
15      34           Private  245487       7th-8th              4
16      25  Self-emp-not-inc  176756       HS-grad              9
17      32           Private  186824       HS-grad              9
18      38           Private   28887          11th              7
19      43  Self-emp-not-inc  292175       Masters             14
20      40           Private  193524     Doctorate             16
21      54           Private  302146       HS-grad              9
22      35       Federal-gov   76845           9th              5
23      43           Private  117037          11th              7
24      59           Private  109015       HS-grad              9
25      56         Local-gov  216851     Bachelors             13
26      19           Private  168294       HS-grad              9
28      39           Private  367260       HS-grad              9
29      49           Private  193366       HS-grad              9
30      23         Local-gov  190709    Assoc-acdm             12
...    ...               ...     ...           ...            ...
32526   32           Private  211349          10th              6
32527   22           Private  203715  Some-college             10
32528   31           Private  292592       HS-grad              9
32529   29           Private  125976       HS-grad              9
32532   34           Private  204461     Doctorate             16
32533   54           Private  337992     Bachelors             13
32534   37           Private  179137  Some-college             10
32535   22           Private  325033          12th              8
32536   34           Private  160216     Bachelors             13
32537   30           Private  345898       HS-grad              9
32538   38           Private  139180     Bachelors             13
32540   45         State-gov  252208       HS-grad              9
32543   45         Local-gov  119199    Assoc-acdm             12
32544   31           Private  199655       Masters             14
32545   39         Local-gov  111499    Assoc-acdm             12
32546   37           Private  198216    Assoc-acdm             12
32547   43           Private  260761       HS-grad              9
32548   65  Self-emp-not-inc   99359   Prof-school             15
32549   43         State-gov  255835  Some-college             10
32550   43  Self-emp-not-inc   27242  Some-college             10
32551   32           Private   34066          10th              6
32552   43           Private   84661     Assoc-voc             11
32553   32           Private  116138       Masters             14
32554   53           Private  321865       Masters             14
32555   22           Private  310152  Some-college             10
32556   27           Private  257302    Assoc-acdm             12
32557   40           Private  154374       HS-grad              9
32558   58           Private  151910       HS-grad              9
32559   22           Private  201490       HS-grad              9
32560   52      Self-emp-inc  287927       HS-grad              9

              marital-status         occupation    relationship  \
0              Never-married       Adm-clerical   Not-in-family
1         Married-civ-spouse    Exec-managerial         Husband
2                   Divorced  Handlers-cleaners   Not-in-family
3         Married-civ-spouse  Handlers-cleaners         Husband
4         Married-civ-spouse     Prof-specialty            Wife
5         Married-civ-spouse    Exec-managerial            Wife
6      Married-spouse-absent      Other-service   Not-in-family
7         Married-civ-spouse    Exec-managerial         Husband
8              Never-married     Prof-specialty   Not-in-family
9         Married-civ-spouse    Exec-managerial         Husband
10        Married-civ-spouse    Exec-managerial         Husband
11        Married-civ-spouse     Prof-specialty         Husband
12             Never-married       Adm-clerical       Own-child
13             Never-married              Sales   Not-in-family
14        Married-civ-spouse       Craft-repair         Husband
15        Married-civ-spouse   Transport-moving         Husband
16             Never-married    Farming-fishing       Own-child
17             Never-married  Machine-op-inspct       Unmarried
18        Married-civ-spouse              Sales         Husband
19                  Divorced    Exec-managerial       Unmarried
20        Married-civ-spouse     Prof-specialty         Husband
21                 Separated      Other-service       Unmarried
22        Married-civ-spouse    Farming-fishing         Husband
23        Married-civ-spouse   Transport-moving         Husband
24                  Divorced       Tech-support       Unmarried
25        Married-civ-spouse       Tech-support         Husband
26             Never-married       Craft-repair       Own-child
28                  Divorced    Exec-managerial   Not-in-family
29        Married-civ-spouse       Craft-repair         Husband
30             Never-married    Protective-serv   Not-in-family
...                      ...                ...             ...
32526     Married-civ-spouse   Transport-moving         Husband
32527          Never-married       Adm-clerical       Own-child
32528     Married-civ-spouse  Machine-op-inspct            Wife
32529              Separated              Sales       Unmarried
32532     Married-civ-spouse     Prof-specialty         Husband
32533     Married-civ-spouse    Exec-managerial         Husband
32534               Divorced       Adm-clerical       Unmarried
32535          Never-married    Protective-serv       Own-child
32536          Never-married    Exec-managerial   Not-in-family
32537          Never-married       Craft-repair   Not-in-family
32538               Divorced     Prof-specialty       Unmarried
32540              Separated       Adm-clerical       Own-child
32543               Divorced     Prof-specialty       Unmarried
32544               Divorced      Other-service   Not-in-family
32545     Married-civ-spouse       Adm-clerical            Wife
32546               Divorced       Tech-support   Not-in-family
32547     Married-civ-spouse  Machine-op-inspct         Husband
32548          Never-married     Prof-specialty   Not-in-family
32549               Divorced       Adm-clerical  Other-relative
32550     Married-civ-spouse       Craft-repair         Husband
32551     Married-civ-spouse  Handlers-cleaners         Husband
32552     Married-civ-spouse              Sales         Husband
32553          Never-married       Tech-support   Not-in-family
32554     Married-civ-spouse    Exec-managerial         Husband
32555          Never-married    Protective-serv   Not-in-family
32556     Married-civ-spouse       Tech-support            Wife
32557     Married-civ-spouse  Machine-op-inspct         Husband
32558                Widowed       Adm-clerical       Unmarried
32559          Never-married       Adm-clerical       Own-child
32560     Married-civ-spouse    Exec-managerial            Wife

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
5                   White  Female             0             0              40
6                   Black  Female             0             0              16
7                   White    Male             0             0              45
8                   White  Female         14084             0              50
9                   White    Male          5178             0              40
10                  Black    Male             0             0              80
11     Asian-Pac-Islander    Male             0             0              40
12                  White  Female             0             0              30
13                  Black    Male             0             0              50
14     Asian-Pac-Islander    Male             0             0              40
15     Amer-Indian-Eskimo    Male             0             0              45
16                  White    Male             0             0              35
17                  White    Male             0             0              40
18                  White    Male             0             0              50
19                  White  Female             0             0              45
20                  White    Male             0             0              60
21                  Black  Female             0             0              20
22                  Black    Male             0             0              40
23                  White    Male             0          2042              40
24                  White  Female             0             0              40
25                  White    Male             0             0              40
26                  White    Male             0             0              40
28                  White    Male             0             0              80
29                  White    Male             0             0              40
30                  White    Male             0             0              52
...                   ...     ...           ...           ...             ...
32526               White    Male             0             0              40
32527               White    Male             0             0              40
32528               White  Female             0             0              40
32529               White  Female             0             0              35
32532               White    Male             0             0              60
32533  Asian-Pac-Islander    Male             0             0              50
32534               White  Female             0             0              39
32535               Black    Male             0             0              35
32536               White  Female             0             0              55
32537               Black    Male             0             0              46
32538               Black  Female         15020             0              45
32540               White  Female             0             0              40
32543               White  Female             0             0              48
32544               Other  Female             0             0              30
32545               White  Female             0             0              20
32546               White  Female             0             0              40
32547               White    Male             0             0              40
32548               White    Male          1086             0              60
32549               White  Female             0             0              40
32550               White    Male             0             0              50
32551  Amer-Indian-Eskimo    Male             0             0              40
32552               White    Male             0             0              45
32553  Asian-Pac-Islander    Male             0             0              11
32554               White    Male             0             0              40
32555               White    Male             0             0              40
32556               White  Female             0             0              38
32557               White    Male             0             0              40
32558               White  Female             0             0              40
32559               White    Male             0             0              20
32560               White  Female         15024             0              40

      native-country salary
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
4               Cuba  <=50K
5      United-States  <=50K
6            Jamaica  <=50K
7      United-States   >50K
8      United-States   >50K
9      United-States   >50K
10     United-States   >50K
11             India   >50K
12     United-States  <=50K
13     United-States  <=50K
14     United-States   >50K
15            Mexico  <=50K
16     United-States  <=50K
17     United-States  <=50K
18     United-States  <=50K
19     United-States   >50K
20     United-States   >50K
21     United-States  <=50K
22     United-States  <=50K
23     United-States  <=50K
24     United-States  <=50K
25     United-States   >50K
26     United-States  <=50K
28     United-States  <=50K
29     United-States  <=50K
30     United-States  <=50K
...              ...    ...
32526  United-States  <=50K
32527  United-States  <=50K
32528  United-States  <=50K
32529  United-States  <=50K
32532  United-States   >50K
32533          Japan   >50K
32534  United-States  <=50K
32535  United-States  <=50K
32536  United-States   >50K
32537  United-States  <=50K
32538  United-States   >50K
32540  United-States  <=50K
32543  United-States  <=50K
32544  United-States  <=50K
32545  United-States   >50K
32546  United-States  <=50K
32547         Mexico  <=50K
32548  United-States  <=50K
32549  United-States  <=50K
32550  United-States  <=50K
32551  United-States  <=50K
32552  United-States  <=50K
32553         Taiwan  <=50K
32554  United-States   >50K
32555  United-States  <=50K
32556  United-States  <=50K
32557  United-States   >50K
32558  United-States  <=50K
32559  United-States  <=50K
32560  United-States   >50K

[30718 rows x 15 columns]

Now extract only the columns which are relevant for this case. i.e. columns having continuous values.
Then, Split the dataframe into X and Y (attributes and values respectively)

In [30]:
df = df[['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week','salary']]
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()

In [32]:
df1 = df[['age', 'fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']]
df2 = df[['salary']]

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df1, df2, test_size=0.30, random_state=42)

In [43]:
from sklearn.metrics import accuracy_score

In [45]:
clf.fit(X_train, y_train)
y = clf.predict(X_test)
accuracy_score(y_test, y)

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7930772569444444